<!DOCTYPE html>
<html>
<head>
  <title>UsersEtwo</title>
  <%= stylesheet_link_tag    "users_etwo/application", media: "all" %>
  <%= javascript_include_tag "users_etwo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
