<!DOCTYPE html>
<html>
<head>
  <title>UsersEone</title>
  <%= stylesheet_link_tag    "users_eone/application", media: "all" %>
  <%= javascript_include_tag "users_eone/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
